.gallery {
  padding-top: 100px;
  padding-bottom: 200px;
}

.gallery h1 {
  font-size: 80px;
  font-weight: 200;
  color: RGBA(0, 0, 0, 0.76);
  display: flex;
  justify-content: center;
}

.galleryWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  max-width: 620px;
  margin: 0 auto;
}

.galleryWrap .single {
  width: 200px;
  cursor: pointer;
}

.galleryWrap .single img {
  max-width: 100%;
}

.galleryWrap .single img:hover {
  transform: scale(1.02);
}
