* {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

#brand {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.logo {
  width: 60px;
  height: 60px;
}

.brandGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

#brand:hover {
  color: #7fc8f8;
}
nav {
  background-color: #2541b2;
  color: white;
  height: 80px;
  padding: 0 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
}

/* #fixedNav {
  position: fixed;
} */

.menuItems a {
  text-decoration: none;

  padding-right: 30px;
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.menuItems a:hover {
  color: #7fc8f8;
  cursor: pointer;
}

#logo {
  width: 60px;
}

/* HERO */

/* #parent {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;

  z-index: 0;
} */

.heroImg {
  margin-top: 0;
  height: 70vh;
  background-size: cover;
  background-position: center;
}

.block {
  background-color: RGBA(0, 0, 0, 0.45);
  padding: 30px;
  max-height: 150px;
  border-radius: 10px;
}
.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  color: white;
}
/* .heroTitle {
  font-size: 50px;
  font-weight: 400;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  position: relative;
} */
.btnOne {
  width: 150px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;

  border: none;
  background-color: whitesmoke;
  color: black;
  /* display: flex;
  justify-content: center; */
  z-index: 1;
}

.btnOne:hover {
  background-color: #21b6ac;
  color: whitesmoke;
  cursor: pointer;
}

.btn:hover {
  background-color: #376996;
  cursor: pointer;
}

.btnTwo {
  width: 150px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  background-color: #f5c316;
  color: black;
}

.btnTwo:hover {
  background-color: #ffe45e;
  color: darkgray;
  cursor: pointer;
}

/* ABOUT PREV */
.aboutPrev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  color: black;
  background-color: whitesmoke;
}

.aboutPrev div {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  padding-right: 50px;
}

/* BLOG PREV */
.blogPrev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;

  background-color: RGBA(95, 200, 248, 0.44);
}

.blogPrev div {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  padding-left: 50px;
}

.galleryPrev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  margin-bottom: 200px;
  color: black;
}

.galleryPrev div {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  padding-right: 50px;
}
/* FOOTER */

.footer {
  background-color: #2541b2;
  color: whitesmoke;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* take out display flex for mobile */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
}

/* .footerList {
  display: flex;
  align-content: center;
} */

.menuItem {
  list-style: none;
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: 200;
}

.menuItem a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.menuItem a:hover {
  color: #7fc8f8;
  cursor: pointer;
}

.menuTitleItem {
  list-style: none;
  padding-bottom: 10px;
  font-size: 20px;
}

.iconStyle {
  padding-left: 35px;

  color: white;
  opacity: 0.7;
}

#follow {
  padding-bottom: 20px;
}

.iconStyle:hover {
  opacity: 1;
  cursor: pointer;
}

/* PAGES! */
.about {
  padding-top: 100px;
}

.gallery {
  padding-top: 100px;
}

.blog {
  padding-top: 100px;
}

.contact {
  padding-top: 100px;
}

@media screen and (max-width: 480px) {
  /* nav */
  nav {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
  }
  #brand {
    font-size: 40px;
    font-weight: 300;
  }
  /* hero */
  /* #parent {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
  }

  #hero {
    height: 30vh;
    display: flex;
    justify-content: center;
  } */

  /* .heroImg {
  } */

  .heroTitle {
    font-size: 40px;
    font-weight: 400;
    padding-top: 20px;
    margin-left: 60px;
    color: white;
    opacity: 0.8;
    z-index: 1;
  }

  .quote {
    padding: 30px;
    font-size: 20px;
    line-height: 1.5;
  }

  .quote span {
    font-size: 16px;
  }

  .aboutPrev {
    display: flex;
    flex-direction: column-reverse;
  }
}
